# Node.js dependencies
/node_modules

# Environment variables file
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE or editor files
.vscode/
.idea/

# Temporary files
*.swp

# Build output
dist/

# npm configuration
.npmrc

# Yarn
.yarn/
.yarnrc